.idea
*.env
*.png
*.jpeg
*.zip
*.SEN3
*.SEN3.zip
*.log

*.rgb
.project
.pydevproject
*.pyc
*.dim
*.img
*.hdr
*.inn
*.top
*eclipse*
*.png
OLD/
auxdata/
.metadata/
*OCSMART*/
readPixelExtractions/
plotGeotiff/
userAccount.py
userAccountColhub.py
SATINNDIR.code-workspace
userAccount.json
.vscode/settings.json
.vscode/launch.json
stations_koordinates_fullList_v1_old.txt
text.nc
Data/
work/
